body {
    font-family: Arial, sans-serif;
    background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
}
h2 {
    text-align: center;
    color: #555;
    margin-top: 0;
}

label{
    margin-top: 10px;
}
input[type=text], input[type=email], input[type=password]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}


input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    left: 9.2vw;

}

.span-required{
    display: none;
    font-size: 1rem;
    color: #9e082d;


}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"], button {
    margin-right: 40px;
}

a{
position:relative;
left:10vw

}
a:viseted {
    color: #E233FF
}
