
* {
  margin: 1.10%;
  padding: 1.7%;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #151320;
}
.caixa{
  position: relative;
  width: 500px;
  height: 500px;
  color: #fff;
  background-color: #151320;
  background-image: src="img/CSolution Digital Courses Logo.gif";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font: bold 2em 'Century Gothic';
  text-transform: uppercase;

}

.caixa::before, .caixa::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  background: linear-gradient(45deg, #ffff00, #00ff00,#0099ff,#001aff,#a200ff,
  #ff0055,#ff0000,#ffff00, #00ff00,#0099ff,#001aff,#a200ff);
  background-size: 300%;
  border-radius: 8px;
  background-position: 150%;
  animation: AnimarBorda 8s linear infinite;

}
@keyframes AnimarBorda{
  0%{
   background-position: 0;
   
  }
  100%{
   background-position: 300%;
   
  } 
}
.caixa::after{
  filter:blur(50px);
}


/*==============*/
#boton-menu {
  position: fixed;
  left:20px;
  top: 15px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ffff00, #00ff00,#0099ff,#001aff,#a200ff,
  #ff0055,#ff0000,#ffff00, #00ff00,#0099ff,#001aff,#a200ff);
}

#menu-lateral {
  position: fixed;
  right: -200px;
  top: 0;
  width: 200px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
}

#menu-lateral ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contenido {
  margin-right: 220px;
}
