*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


nav.menu-lateral{
    width: 100px;
    height: 100%;
    background-color:black;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(53, 92, 125);
    
    position:fixed;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 32px;

}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;

}

ul li.item-menu-lateral{
    transition: .2s;
}

ul li.ativo{
    background-color:rgb(53, 92, 125) ;
}

ul li.item-menu-lateral:hover{
    background:rgb(53, 92, 125) 88.8% ;
}

ul li.item-menu-lateral a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 10%;
    display: flex;
    margin-bottom: 30px;
    line-height: 15px;
}

ul li.item-menu-lateral a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu-lateral a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

